.pageContainer {
  margin-left: 60px;
  margin-right: 60px;
  overflow: hidden;
}

.functionalityContainer {
  width:100%;
  margin-left: auto;
  margin-right:auto;
  margin-top:.5%;
}

.fileSearch{
  display: inline-block;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
  background: transparent;
  border: 2px solid var(--accent);
  color: var(--accent);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background: var(--accent);
    color: #fff;
  }
}

.fileName {
  display: inline-block;
  margin-left: 1rem;
  font-family: sans-serif;
  font-weight: 500;
}

.searchbox{
  width: 37%;
  padding: 1rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  margin-top:12px;
}

input.placeholder {
  text-align: center;
}

.clearAll {
  display:inline-block;
  float:right;
  width:13%;
}


.textareaContainer {
  width: 100%;
  height: 300px;
  margin: 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 1%;

}

.textdump {
  width: 100%;
  height: 600px;
  overflow: auto;
  resize: none;
  font-family: sans-serif;
  background-color: white;
  color: black;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}


.textdump:empty:before {
  content:attr(data-placeholder);
  color:gray;
  position:absolute;
  font-size: 30px;
  left: 50%;
  top:570px;
  transform: translate(-50%, -50%);
}

.textContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.wordCountContainer {
  width:50%;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  margin-top:1%;
}

.wordAppears {
  font-family: sans-serif;
  display: inline-block;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  margin-top: 20px;
}

.marked {
  color: red;
}
