.pageContainer {
  margin-left: 60px;
  margin-right: 60px;
}

.functionalityContainer {
  width:93%;
  margin-left: auto;
  margin-right:auto;
  margin-top:.5%;
}

.fileSearch{
  display: inline-block;
  margin-left: -2.8%;
}

.mergeAll {
   display: inline-block;
   margin-left: -2.8%;
}

.searchbox{
  width: 37%;
}

input.placeholder {
  text-align: center;
}

.clearAllTop {
  display:inline-block;
  float:right;
  width:13%;
  margin-right: -2.8%;
}
.clearAllBottom {
  display:inline-block;
  float: right;
  width:13%;
  margin-right: -2.8%;
}

.clearAllMerge {
    display:inline-block;
    float:right;
    width:13%;
    margin-right: -2.8%;
}

.textareaContainer {
  width: 100%;
  height: 300px;
  margin: 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  padding: 1%;

}

.textdump {
  width: 100%;
  height: 300px;
  overflow: auto;
  resize: none;
  font-family: sans-serif;
  background-color: white;
  color: black;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

.mergedTextForDownload {
  width: 100%;
  height: 670px;
  overflow: auto;
  resize: none;
  font-family: sans-serif;
  background-color: white;
  color: black;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
}

.textdump:empty:before {
  content:attr(data-placeholder);
  color:gray;
  position:absolute;
  left: calc(38% - 5px);
}

.textContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.wordCountContainer {
  width:50%;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  margin-top:1%;
}

.wordAppears {
  font-family: sans-serif;
  display: inline-block;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

.marked {
  color: red;
}

.leftAlign {
  width: 50%;
  float: left;
}
.rightAlign {
  width: 50%;
  float: right;
  .textareaContainer {
    padding-right: 0;
  }
}